{% extends 'base.html' %} {% load static %} {% block content %}{% load widget_tweaks %}
<div class="navigation">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                     <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url "sothana"%}" class="act">Sothana</a></li>
                        <li><a href="{% url "study"%}">Study</a></li>
                        <li><a href="{% url "reward"%}">Reward</a></li>
                        <li><a href="{% url "activity"%}">Activity</a></li>
                        <li><a href="{% url "tarlent"%}">Tarlent</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
<div class="uk-section-muted">
	<div class="container">
		<div class="uk-container">
			<h1></h1>
			<h2 class="thai_font hade-home" style="text-align: left;";>โศธนะ วิชาเรือง คือใคร?</h2>
			<div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
				<div>
					<div class="uk-child-width-1-2@m uk-child-width-1-2@s" uk-grid>
						<div>
							<div>
								<img class="uk-align-center  uk-margin-remove-adjacent img-logo" src="{% static "image/naii.png" %}">
							</div>
						</div>
						<div>
							<div>
								<h1 class="thai_font" style="text-align: center;"> โศธนะ      วิชาเรือง </h1>
								<h2 class="thai_font" style="text-align: center;">ชื่อเล่น นาย</h2>
								<h3 class="thai_font" style="text-align: left;">เกิดเมื่อวันที่ 16 กรกฏาคม 2542  อายุ 18ปี</h3>
								<h4 class="thai_font" style="text-align: center;">เชื้อชาติ:ไทย  สัญชาิต:ไทย  ศาสนา:พุทธ</h4>
								<h4 class="thai_font" style="text-align: left;">ถูมิลำเนา
								<h5 class="thai_font" style="text-align: center;">71/17 หมู่4 ตำบลถนนใหญ่ อำเภอเมืองลพบุรี จังหวัดลพบุรี</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="uk-section-defult">
	<div class="container">
		<div class="uk-container">
			<h1></h1>
			<h1 class="thai_font hade-home" style="text-align: left;";>ครอบครัว วิชาเรือง</h1>
			<div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
				<div>
					<div class="uk-child-width-1-2@m uk-child-width-1-2@s" uk-grid>
						<div>
							<div>
								<h1></h1>
								<h3 class="thai_font" style="text-align: left;">บิดา นายอนุสรณ์  วิชาเรือง</h3>
								<h3 class="thai_font" style="text-align: left;">มารดา นางอรพรรณ  วิชาเรือง</h3>
								<h3 class="thai_font" style="text-align: left;">พี่สาว  นางกรองกมล  วิชาเรือง</h3>
							</div>
						</div>
						<div>
							<div>
								<img class="uk-align-center  uk-margin-remove-adjacent img-logo" src="{% static "image/family.jpg" %}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %} {% block script %} {% endblock script %}