{% extends 'base.html' %} {% load static %} {% block content %}{% load widget_tweaks %}
<div class="navigation">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                     <ul class="nav navbar-nav">
                        <li><a href="{% url "sothana"%}" class="act">Sothana</a></li>
                        <li><a href="{% url "study"%}">Study</a></li>
                        <li class="active"><a href="{% url "reward"%}">Reward</a></li>
                        <li><a href="{% url "activity"%}">Activity</a></li>
                        <li><a href="{% url "tarlent"%}">Tarlent</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
<!--<div class="uk-section-muted">
	<div class="container">
		<div class="uk-container">
			<h1></h1>
			<h1 class="thai_font hade-home" style="text-align: left;">รางวัลที่ได้รับ</h1>
			<div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
				<div>
					<div class="uk-child-width-1-2" uk-grid>
							<div class="uk-child-width-1-2">
								<img class="rotageimg90" src="{% static "image/ser 001.jpg" %}">
							</div>
							<div>
								<h1></h1>
								<h2 class="thai_font" style="text-align: center;">YSC รอบคัดเลือกตัวแทนประเทศ</h3>
								<h3 class="thai_font" style="text-align: center;">ในงานการแข่งขัน</h3>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="uk-section-muted">
	<div class="container">
		<div class="uk-container">
			<h1></h1>
			<h1 class="thai_font hade-home" style="text-align: left;">รางวัลที่ได้รับ</h1>
			<div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
				<div>
					<div class="uk-child-width-1-2" uk-grid>
						<div>
							<div>
								<img class="rotageimg90" src="{% static "image/ser 001.jpg" %}">
							</div>
						</div>
						<div>
								<h2 class="thai_font" style="text-align: right;">YSC รอบคัดเลือกตัวแทนประเทศ 
								<h3 class="thai_font" style="text-align: right;">ในงานการแข่งขัน</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="uk-section-defult">
	<div class="container">
		<div class="uk-container">
			<h2 class="thai_font hade-home">รางวัลที่ได้รับ</h2>
			<div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
				<div>
					<div class="uk-child-width-1-2" uk-grid>
							<div>
								<h3 class="thai_font" style="text-align: center;">YSC รอบคัดเลือกตัวแทนประเทศ</h3>
							</div>
						<div>
							<div>
								<img class="rotageimg90" src="{% static "image/ser 002.jpg" %}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %} {% block script %} {% endblock script %}